.admin__container{
  display: flex;
  margin-bottom: 50px;
}
.admin__title{
  max-width: 740px;
  margin: 50px auto;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  padding: 13px 115px 9px;
  background-color: #F4F4F4;
  box-shadow: 0px 1px 1.899999976158142px 0px #00000040;
}
.admin__sidebar{
display: flex;
flex-direction: column;
}

.admin__sidebar button + button{
  margin-top: 20px;
}
.admin__sidebar-button{
  width: 300px;
  height: 100px;
}
.edit__image{
  width: 200px;
  height: 135px;
}


.houses__list-top{
  margin-bottom: 50px;
  align-items: center;
}
.houses__list-top button{
  margin-top: 30px;
  background-color: #02AFFF;  
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 18px;
  box-shadow: 4px 3px 4px 0px #0000006E;
}
.houses__items--admin{
  width: 1000px;
  margin-bottom: 50px;
}
.houses__item{
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
}
.houses__item-top{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 4px solid #000;
}
.houses__item-top--btn{
  padding: 10px;
  font-size: 20px;
}
.houses__item-top--title{
  font-size: 40px;
}
.houses__item-content{
  font-size: 20px;
}
.houses__item-content--item{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.houses__item-content--item + .houses__item-content--item{
  border-top: 2px solid #000;
}




.windows__home-list--point p,
.windows__update-list--point p{
  font-size: 20px;
  width: 300px;
}
.windows__home-list--point-1,
.windows__home-list--point-2,
.windows__update-list--point-1,
.windows__update-list--point-2{
  display: flex;
  align-items: center;
}



.home__redact-buttons{
  margin-top: 10px;
  margin-bottom: 5px;
}
.home__redact-buttons button + button{
  margin-left: 50px;
}
.windows__update-list--points{
  margin-top: 15px;
}
.windows__update-list--points button,
.admin__sidebar-button,
.houses__list-add,
.houses__list-update,
.houses__list-delete{
  padding: 5px 10px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 4px 3px 4px 0px #0000006E;
  font-size: 16px;
}
.houses__list-update,
.houses__list-delete,
.houses_form-add button,
.room__list-button button,
.houses_list-delete{
margin-top: 30px;
background-color: #02AFFF;
padding: 10px 20px;
border-radius: 14px;
font-size: 18px;
box-shadow: 4px 3px 4px 0px #0000006E;
border: none;
color: #fff;
}
.edit__image-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.houses_form-add button{
  margin-bottom: 30px;
}
.houses__list-delete,
.houses_list-delete{
  background-color: #ff8787;
}
.admin__sidebar-button{
  padding: 10px 20px;
  border-radius: 20px;
}
.windows__update-list--point-1 label{
  width: 300px;
  font-size: 25px;
}
.windows__update-list--points input{
  border: none;
  width: 730px;
  height: 60px;
  box-shadow: 1px 1px 11.6px 0px #00000024;
  padding: 0 20px;
  font-size: 25px;
}
.windows__update-list--points .checkbox input{
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.windows__update-list--point-1 + .windows__update-list--point-1{
  margin-top: 25px;
}
.admin__sidebar button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-right: 50px;
  box-shadow: 4px 3px 4px 0px #0000006E;
  background: #02AFFF;
}

.room__select{
  font-size: 20px;
  width: 100%; /* Ширина */
  height: 80px; /* Высота */
  /* padding: 5px;  */
  border: 1px solid #ccc; /* Граница */
  border-radius: 4px; /* Закругленные углы */
  background-color: white; /* Фон */
  color: black; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
}
.room__option{
  font-size: 20px;
  height: 80px; /* Высота */
  /* padding: 5px;  */
  background-color: lightgray; /* Фон каждой опции */
  color: black; /* Цвет текста */
}
.houses__list-item--content{
  margin-top: 30px;
  box-shadow: 1px 1px 11.600000381469727px 0px #00000024;
  padding: 0 20px;
  padding: 15px;
  border-radius: 25px;
  width: 740px;
  text-align: center;
}
.windows__update-list--points input{
  position: relative;
}
.houses_form-add img{
  display: block;
  margin-top: 11px;
} 
.windows__update-list--point button{
  margin-left: 20px;
}
.room__list-button button{
  width: 300px;
}
.room__list-button button{
  margin-top: 30px;
}
.save{
  margin-top: 50px;
}



@media only screen and (max-width: 1600px){
  .windows__update-list--points input{
    width: 500px;
  }
}

@media only screen and (max-width: 1400px){
  .edit__image-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .windows__update-list--points input{
    width: 500px;
  }
}
@media only screen and (max-width: 1220px){
  .windows__update-list--points input{
    width: 300px;
  }
}


@media only screen and (max-width: 1000px){
  .admin__container{
    display: block;
  }
  .admin__sidebar button {
    margin-left: auto;
    margin-right: auto;
  }
  .houses__list-top{
    margin-top: 50px;
    text-align: center;
  }
  .houses__list-item--content{
    margin-left: auto;
    margin-right: auto;
  }
  .houses_form-add{
    margin-top: 50px;
  }
  .houses_form-add div{
    text-align: center;
  }
  .edit__image{
    margin-left: auto;
    margin-right: auto;
  }
  .windows__update-list--points{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 618px;
  }
  .windows__update-list--point label{
    text-align: left;
  }
  .houses__list-item--content a{
    font-size: 30px;
  }
  .table_items{
    text-align: center;
    margin-top: 50px;
  }
  .edit__image-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .windows__update-list--point-1 label {
    width: 200px;
    font-size: 16px;
}
}


@media only screen and (max-width: 666px){
  .admin__sidebar button{
    margin-left: 0;
  }
  .houses__list-top,
  .admin__title{
    font-size: 30px;
  }
  .houses__list-item--content a{
    font-size: 20px;
  }
  .houses_form-add div{
    font-size: 25px;
  }
  .windows__update-list--point{
    display: flex;
    flex-direction: column;
  }
  .houses_form-add div{
    text-align: left;
  }
  .windows__update-list--points{
    width: auto;
  }
  .edit__image{
    margin-left: 0;
  }
  .houses_form-add div{
    align-items: start;
  }
  .windows__update-list--point button{
    margin-top: 20px;
    margin-left: 0;
  }
  .windows__update-list--point label{
    margin-bottom: 10px;
  }
  .windows__update-list--point + .windows__update-list--point{
    margin-top: 50px;
  }
  .windows__update-list--points input{
    max-width: 350px;
  }
  .windows__update-list--points input[type=file]:before{
    font-size: 12px;
    padding: 5px 17px;
  }
  .windows__update-list--points input[type=file]{
    font-size: 13px;
  }
  .houses__list-item--content{
    width: 90vw;
  }
  .houses__list-top{
    text-align: start;
  }
  .table_items{
    text-align: start;
  }
}
@media only screen and (max-width: 333px){
  .edit__image{
    width: 90vw;
    height: auto;
  }
  .home__redact-buttons{
    display: flex;
    flex-direction: column;
  }
  .home__redact-buttons{
    width: 92px;
    margin-left: auto;
    margin-right: auto;
  }
  .home__redact-buttons button + button{
    margin-left: 0;
    margin-top: 40px;
  }
  .room__list-button button{
    max-width: 90vw;
  }
  .windows__update-list--point-1 label{
    width: 200px;
    font-size: 25px;
  }
}