.toast {
  position: fixed;
  bottom: 20px;
  padding: 10px;
  border: 1px solid #000;
  background-color: white;
  z-index: 9999;
}

.toast-success {
  border-color: green;
}

.toast-error {
  border-color: red;
}
.toast-success,
.toast-error{
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.toast-success button,
.toast-error button{
  margin-left: 20px;
  background-color: #02afff;
  border-radius: 14px;
  box-shadow: 4px 3px 4px 0px #0000006e;
  border: none;
  color: #fff;
  padding: 10px 20px;
}
@media only screen and (max-width: 760px){
  .toast.toast-error{
  font-size: 10px;
}
}

@media only screen and (max-width: 560px){
  .toast-success, .toast-error{
    font-size: 10px;
    font-weight: 500;
  }
}
