h1 {
  text-align: center;
}

.reserve__interface {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.reserve__items {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 15px;
}

.selected__date {
  margin: 0 50px;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.top__panel {
  display: flex;
  justify-content: space-between;
}

.calendar__days {
  display: flex;
  justify-content: center;
}
.first__daysList {
  margin-right: 30px;
}
.first__daysList,
.second__daysList {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  gap: 5px;
  font-size: 18px;
}

/* Выбранная начальная дата */
.day-item.start-date {
  background-color: #4caf50; /* Зеленый */
  color: white;
}

/* Выбранная конечная дата */
.day-item.end-date {
  background-color: #4caf50; /* Зеленый */
  color: white;
}

/* Диапазон между выбранными датами */
.day-item.in-range {
  background-color: #2d512f; /* Светло-зеленый */
}

/* День под курсором мыши */
.day-item:hover {
  background-color: #1c3634; /* Светло-бирюзовый */
}

.day-item.disabled {
  color: #ccc;
  /* cursor: not-allowed; */
  background-color: #f2f2f2;
}

.day-item:disabled {
  color: #ccc;
  /* cursor: not-allowed; */
  background-color: #f2f2f2;
}

.day-item.empty {
  visibility: hidden;
}
.day-item.in-range,
.day-item:hover.in-range {
  background-color: #a2b9ff; /* Цвет выделенного диапазона */
}

.day-item.booked{
  background-color: #4caf50;
}
.reserve__interface h1{
  margin: 20px 0;
}
.current__select{
  text-align: center;
  margin-bottom: 20px
}
.top-panel{
  display: flex;
  justify-content: space-between;
}
.top-panel button{
  background-color: transparent;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.top-panel span{
  min-width: 214px;
}
.top-panel span + span{
  margin-left: 20px;
}
.first__daysList + .first__daysList{
  margin-left: 20px;
}
.reserveItems-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.room__item{
  background-color: #fff;
}
.room__item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 26px;
  margin-bottom: 30px;
}
.room__item {
  font-size: 20px;
}
.room__item p{
  margin-bottom: 15px;
}
.room__item p{
  text-align: center;
}
.room__item p + p{
  margin-top: 15px;
}
.room__item button {
  width: 226px;
  text-align: center;
  padding: 9px 0 14px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  box-shadow: 4px 3px 4px 0px #0000006E;
  border-radius: 36px;
  background: #EEE621;
  transition: all .3s;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-top: 30px;
  border: none;
}
.room__item button:hover {
  background-color: #fcf30a;
}