h1 {
  text-align: center;
}

.reserve__interface {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.reserve__items {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-size: 15px;
}

.selected__date {
  margin-left: 50px;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.top__panel {
  display: flex;
  justify-content: space-between;
}

.calendar__days {
  display: flex;
  justify-content: center;
}
.first__daysList {
  margin-right: 30px;
}
.first__daysList,
.second__daysList {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  gap: 5px;
  font-size: 18px;
}

/* Выбранная начальная дата */
.day-item.start-date { /* Зеленый */
}

/* Выбранная конечная дата */
.day-item.end-date {
  background-color: #4caf50; /* Зеленый */
  color: white;
}

/* Диапазон между выбранными датами */
.day-item.in-range {/* Светло-зеленый */
}

/* День под курсором мыши */
.day-item:hover {
  /* Светло-бирюзовый */
}

.day-item.disabled {
  color: #ccc;
  /* cursor: not-allowed; */
  background-color: #f2f2f2;
}

.day-item:disabled {
  color: #ccc;
  /* cursor: not-allowed; */
  background-color: #f2f2f2;
}

.day-item.empty {
  visibility: hidden;
}
.day-item.in-range,
.day-item:hover.in-range {
  background-color: #a2b9ff; /* Цвет выделенного диапазона */
}

.day-item.booked{
  background-color: #4caf50;
}
.reserve__interface h1{
  margin: 20px 0;
}
.current__select{
  text-align: center;
  margin-bottom: 20px
}
.top span{

  font-size: 22px;
  line-height: 28px;
}
.top-panel{
  display: flex;
  justify-content: space-between;
}
.top-panel button{
  background-color: transparent;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.top-panel span{
  min-width: 214px;
}
.top-panel span + span{
  margin-left: 20px;
}
.first__daysList + .first__daysList{
  margin-left: 20px;
}
.reserveItems-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.reserveItems-list .apart__item,
.reserveItems-list .room__item{
  padding: 15px 15px 98px 15px;
  border: 1px solid #B4B1B1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
  position: relative;
  width: 285px;
}
.reserveItems-list .room__item,
.reserveItems-list .apart__item{
  background-color: #fff;
  font-size: 14px;
}
.reserveItems-list .room__item img,
.reserveItems-list .apart__item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 26px;
  margin-bottom: 15px;
  max-width: auto;
  height: 160px;
}
.reserveItems-list .room__item a{
  text-transform: uppercase;
  font-weight: 500;  
  transition: all .3s;
}
.reserveItems-list .room__item a:hover{
  font-weight: 700;
}
.reserveItems-list .room__item p,
.reserveItems-list .apart__item p{
  margin-bottom: 5px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}
.reserveItems-list .room__item p + p,
.reserveItems-list .apart__item p + p{
  margin-top: 15px;
}
.reserveItems-list .room__item button,
.reserveItems-list .apart__item button {
  width: 140px;
  text-align: center;
  padding: 9px 0 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 4px 3px 4px 0px #0000006E;
  border-radius: 24px;
  background: #E4E4E4;
  transition: all .3s;
  display: block;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  position: absolute;
  bottom: 15px;
  left: 72.5px;
}
.reserveItems-list .room__item button:hover,
.reserveItems-list .apart__item button:hover {
  background-color: #f5f5f5;
}
.reserveItems-list .room__item button.btn__details,
.reserveItems-list .apart__item button.btn__details{
  bottom: 64px;
  background: #EEE621;
}
.reserveItems-list .room__item button.btn__details:hover,
.reserveItems-list .apart__item button.btn__details:hover {
  background-color: #fcf30a;
}
.first__daysList, .second__daysList{
  margin: 0;
}
.current_month,
.next_month{
  width: 270px;
}
.next_month{
  margin-left: 50px;
}
.current_month .left,
.next_month .right{
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  border-radius: 50%;
  cursor: pointer;
}
.current_month .left{
  padding-right: 4px;
}
.next_month .right{
  padding-left: 4px;
}
.current_month .top,
.next_month .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-item{
  width: 34px;
  height: 38px;
}
.day-item,
.day-item.true,
.first__daysList .day-item.null{
  background-color: #fff;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  border-radius: 7px;
  cursor: pointer;
}
.day-item.start-date{
  background-color: #EEE621
}
.day-item.in-range{
  background-color: #EEE621;
}
.first__daysList .day-item:hover{
  background-color: #EEE621;
}
.first__daysList .day-item.disabled{
  border: none;
  background-color: transparent;
  color: #000;
  box-shadow: none;
  cursor: auto;
}



.first__daysList .day-item.in-range{
  background-color: #EEE621;
}
.modal__form .first__daysList .disabled{
  color: #fff;
}

.modal__form .first__daysList .day-itemnull{
  background-color: #fff;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  border-radius: 7px;
  color: #000;
}


@media screen and (max-width: 1250px){
  .reserveItems-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 895px;
}
}{

}
@media screen and (max-width: 950px){
  .reserveItems-list {
  grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 590px;
  }
}





@media screen and (max-width: 660px){
  .calendar__table .calendar__days{
    display: block;

  }
  .next_month{
    margin: 50px 0 0;
  }
}



@media screen and (max-width: 620px){
  .reserveItems-list {
    grid-template-columns: repeat(1, 1fr);
    width: 285px;
  }
}
@media screen and (max-width: 330px){
  .reserve__page .reserveItems-list .room__item,
  .reserve__page .reserveItems-list .apart__item {
    padding: 15px 15px 98px 15px;
    border: 1px solid #B4B1B1;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 23px;
    position: relative;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
}
.reserveItems-list .room__item button, 
.reserveItems-list .apart__item button{
  left: 52.5px;
}
.reserveItems-list .room__item img, 
.reserveItems-list .apart__item img{
  height: 120px;
}
.reserve__page .guests__count input{
  width: 82px;
}
.reserve__page .reserve__items .guests__count{
  transform: translateY(0);
}
.room__item button, .apart__item button {
  left: 52.5px;
}
}
