.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button, .buttonReset, .buttonUpload {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  min-width: 120px;
}

.buttonReset {
  background-color: #dc3545;
}

.buttonUpload {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #ccc;
}

.buttonUpload.active {
  background-color: #28a745; 
}

.hiddenInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

@media (max-width: 600px) {
  .button, .buttonReset, .buttonUpload {
    width: 90%;
    margin-top: 5px;
  }
}
