.header{
    padding: 20px 0 20px;
    background-color: #222121;
    color: #fff;
}
.header__top-content{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top-content--min{
    display: none;
    padding: 10px 0;
}
.header__menu-items{
    display: flex;
}
.header__menu-items--min{
    display: none;
}
.header__menu-items li + li{
    margin-left: 2vw;
}
.header__contacts{
    display: flex;
    flex-direction: column;
}
.header__contacts-btn{
    margin-left: auto;
    max-width: 302px;
    font-size: 20px;
    line-height: 24px;
    padding: 13px;
    border: 7px solid #EEE621;
    background-color: transparent;
    border-radius: 32px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .3s;
}
.header__contacts-btn:hover{
    border: 7px solid #fff;
    color: #EEE621;
}
.header__menu-item{
    transition: all .3s;
}
.header__menu-item:hover{
    font-size: 40px;
}
.header__contacts-num{
    transition: all .3s;
}
.header__contacts-num:hover{
    font-size: 36px;
}
@media screen and (max-width : 1100px) {
    .header__menu-link,
    .header__contacts-num{
        font-size: 22px;
        line-height: 28px;
    }
    .header__contacts-btn{
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
    }
    .header__contacts-num{
        margin-left: 7px;
    }
}
@media screen and (max-width : 800px){
    .header{
        padding: 0;
    }
    .header__contacts-btn{
        margin: 0 auto;
    }
    .header__top-content{
        display: none;
    }
    .header__top-content--min{
        display: block;
        background-color: #222121;
    }
    .header__menu-items--min{
        display: block;
    }
    .header__contacts{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo img{
        width: 64px;
    }
    .header__contacts-btn{
        font-size: 20px;
        line-height: 24px;
    }
    .menu__btn{
        width: 33px;
        border: none;
        background-color: transparent;
        height: 33px;
        background-image: url(/src/assets/images/icons/menu-open.svg);
        fill: #EEE621;
        cursor: pointer;
    }
    .menu__btn.active{
        background-image: url(/src/assets/images/icons/menu-closed.svg);
        background-position: center;
    }
    .header__contacts-btn{
        margin-bottom: 0;
    }
    .header__menu-items{
        padding-top: 30px;
        display: block;
        text-align: center;
        background-color: #222121;
        padding-bottom: 50px;
        position: absolute;
        transform: translateY(-200vw);
        display: none;
        width: 100vw;
        transition: all .3s;
    }
    .header__menu-items--min.active{
        transform: translateY(0);
        display: block;
        z-index: 10;
    }
    .header__menu-items li + li{
        margin-left: 0;
        margin-top: 20px;
    }
    .header__menu-link{
        color: #fff;
    }
    
}