.modal__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.callback-modal{

  width: 500px;
  background-color: rgb(223, 223, 223);
  padding: 50px;
}
.modal__btn-close{
  display: block;
  margin-left: auto;
  margin-bottom: 50px
}

.modal__input{
  margin-bottom: 30px;
}

.modal__input input{
  font-size: 26px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  width: 400px;
}

.modal__input label{
  display: block;
  margin-bottom: 10px;
}

.callback-modal button{
  background-color: transparent;
  border: none;

}
.callback-modal.modal__submit{
  border: 1px solid #000;
}